APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.***:***@aws-0-eu-central-1.pooler.supabase.com:5432/postgres
GOOGLE_CLIENT_ID="XXXXXX-XXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="XXXXXXXX-XXXX-XXXXXXXXXXXXXX"