body,
html {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
}

#canvas-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

canvas {
    position: absolute;
}


.hud {
    color: black;
}

.hud-top {
    display: none;
    position: fixed;
    left: 0;
    top:0;
    right:0;
    height: 5vh;
    min-height: 30px;
    background: lightblue;
}

.hud-resource-wrapper {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 10px;
    background: lightcoral
}

.hud-resource {
    background: pink;
    display: inline-block;
    height: 100%;
}

.hud-resource span {
    vertical-align: middle;
}

.hud-resource img {
    position: relative;
    max-height: 100%;
    vertical-align: middle;
}


.hud-left {
    background: lightsalmon;
    position: fixed;
    top: calc(5vh + 10px);
    width: 15vw;
    left: 10px;
    bottom: 10px;
    overflow: auto;
}



.hud-tab {
    all: unset;
    background-color: pink;
    text-align: center;
    padding: 10px;
    flex: 1;
}

.hud-tab.active {
    background: none;
}

.hud-tab:hover {
    color: #888;
    cursor: pointer;
}

.hud-tab-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

.hud-right {
    background: lightskyblue;
    position: fixed;
    top: calc(5vh + 10px);
    width: 15vw;
    right: 10px;
    bottom: 10px;
}

.hud-tab-content {
    display: none;
}

.hud-tab-content-template {
    display: flex;
    flex-direction: row;
}

.hud-tab-content-template-element {
    flex: 1;
}

label.hud-tab-content-template-element {
    vertical-align: middle;
    align-self: center;
}


#debug {
    background: #BBBBBBBB;
    width: 200px;
    margin: 20px;
    bottom: 0;
    padding: 8px;
    position: absolute;
    font-size: xx-small;
    font-weight: bold;
    color: black;
}