body,
html {
    height: 100%;
    /* Als referenz, damit die height: 100% bei #canvas-container auch etwas bedeutet */
    margin: 0;
    /* Default body margin entfernen */
    overflow: hidden;
    /*Verstecke die Scrollbars, theoretisch nicht nötig. Einkommentieren falls doch */
    background: black;
    color:#20C20E;
}

#canvas-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

 /* #canvas-map {
    background: black;
} */

canvas {
    position: absolute;
    /* Damit alle canvas Elemente übereinander gezeichnet werden */
}

.hud-top {
    position: absolute;
    left: 0px;
    top:0px;
    right:0px;
    height: 30px;
    background: #20C20E;
}

.hud-resource {
    background: blue;
    display: inline-block;
    width: 50px;
    height: 20px;
}

#debug {
    background: #BBBBBBBB;
    width: 200px;
    margin: 20px;
    bottom: 0;
    padding: 8px;
    position: absolute;
    font-size: xx-small;
    font-weight: bold;
    color: black;
}