<!DOCTYPE HTML>

<html lang="en">

<head>
	<title>Louis ihm seine Kunst</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>

<body>
	Logged in as {{username}}<br/>
	Leaderboard<br>
	<table style="border: 1px solid black">
		<tr>
			<th>Player</th>
			<th>Kills</th>			
		</tr>
		{{#each leaderboardItems}}
		<tr>
			<th>{{killer}}</th>
			<th>{{kills}}</th>
		</tr>
		{{/each}}
	</table>


  <a href="/play">Play!</a>
</body>

</html>