<h1>Login</h1>
<form id="login" method="POST" action="/login">
  E-Mail: <input id="email" type="text" name="email"><br>
  Password: <input id="password" type="password" name="password"><br>
  <input type="submit" value="Login">
</form>

<a href="/register">Registrieren</a>
<a href="#" onclick="onGuestClicked()">Als Gast spielen</a>

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
<script type="application/javascript" src="js/web/firebase.js"></script>
<script type="application/javascript" src="js/web/login.js"></script>
