<h1>Logout</h1>

Logging out...

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
<script type="application/javascript" src="js/web/firebase.js"></script>
<script type="application/javascript" src="js/web/logout.js"></script>
