<!DOCTYPE HTML>

<html lang="en">

<head>
	<title>Louis ihm seine Kunst</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>

<body>
	<div id="canvas-container">
		<canvas id="canvas-map" oncontextmenu="return false"></canvas>
		<canvas id="canvas-fow" oncontextmenu="return false"></canvas>
		<canvas id="canvas-entities" oncontextmenu="return false"></canvas>
		<div id="debug"></div>
		<div id="death" style="display:none" >
			<h1>Du bist tot LOL</h1>
		</div>
	</div>


	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
	<script type="application/javascript" src="js/web/firebase.js"></script>
	<script type="application/javascript" src="config.js"></script>
	<script type="application/javascript" src="bin/bundle.js"></script>
</body>

</html>