<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Feuer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<canvas id="canvas-map" oncontextmenu="return false"></canvas>
	<div id="hud">
		<div id="hud-tabs">
			<button class="hud-tab active" id="bInfo">Info</button>
			<button class="hud-tab" id="bConstruction">Construction</button>
			<button class="hud-tab" id="bArmy">Army</button>
			<button class="hud-tab" id="bChat">Chat</button>
		</div>
		<div id="hud-content">
			<div class="hud-content" id="tInfo">wood = 100</div>
			<div class="hud-content" id="tConstruction">Construction</div>
			<div class="hud-content" id="tArmy">Army</div>
			<div class="hud-content" id="tChat">Chat</div>
		</div>
	</div>
	<div id="debug"></div>
	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
	<script type="application/javascript" src="js/web/firebase.js"></script>
	<script type="application/javascript" src="bin/bundle.js"></script>
</body>
</html>