<h1>Register</h1>
<form id="register" method="POST" action="/register">
  Username: <input id="username" type="text" name="username"><br>
  E-Mail: <input id="email" type="text" name="email"><br>
  Password: <input id="password" type="password" name="password"><br>
  Repeat Password: <input id="passwordRepeat" type="password" name="passwordRepeat"><br>
  <input type="submit" value="Register">
</form>

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
<script type="application/javascript" src="js/web/firebase.js"></script>
<script type="application/javascript" src="js/web/register.js"></script>